
az=$(curl -s http://instance-data/latest/meta-data/placement/availability-zone)
instance_id=$(wget -q -O - http://169.254.169.254/latest/meta-data/instance-id)
region=${az:0:${#az} - 1}

{{ range $load_balancer_name, $containers := groupByMulti $ "Env.LOAD_BALANCER_NAME" "," }}

aws elb register-instances-with-load-balancer --region ${region} --load-balancer-name {{ $load_balancer_name }} --instances ${INSTANCE_ID}

{{ end }}
